<!DOCTYPE html>
<html>
<head>
  <title>NASDAQ Stock Registration App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
  <div class="ui container">
    <nav class="ui menu">
      <a class="header item" href="/">Home</a>
      <a class="item" href="/registration">Registration</a>
      <a class="item" href="/stocks">Stocks</a>
      <a class="item" href="/companies">Companies</a>
    </nav>
    {% block content %}{% endblock %}
  </div>
</body>
</html>
